In [1]:
import pandas as pd

In [11]:
data = pd.read_csv('BIP_numerical_NA.csv')

In [12]:
data.head()

,Unnamed: 0,PitchNo,PAofInning,PitchofPA,PitcherId,BatterId,Inning,Outs,Balls,Strikes,...,x0,y0,z0,vx0,vy0,vz0,ax0,ay0,az0,PlayResult
0,0,31,4,4,8886490.0,8889935.0,1,1,2,1,...,-0.910257,50.0,5.132413,1.918590,-124.614626,-0.649094,4.383706,22.608287,-29.020022,1
1,1,53,3,1,8889942.0,8886477.0,2,1,0,0,...,-0.813253,50.0,5.902546,4.365727,-126.052743,-4.747421,-11.628193,27.363407,-25.421615,1
2,2,63,1,1,8886490.0,8889937.0,2,1,0,0,...,-0.441719,50.0,5.333961,4.862950,-131.897976,-4.129748,-8.552503,31.937280,-18.947060,0
3,3,93,7,2,8889947.0,8886477.0,3,2,1,0,...,-2.193309,50.0,5.480263,5.652254,-130.319387,-3.460916,-6.483089,31.294218,-12.580120,1
4,4,128,4,3,8889947.0,8881734.0,4,2,1,1,...,-2.142848,50.0,5.527071,4.224837,-115.353692,-2.275181,3.299176,25.060342,-31.168783,0

In [13]:
data = data.drop(columns = 'Unnamed: 0')

In [14]:
data.head()

,PitchNo,PAofInning,PitchofPA,PitcherId,BatterId,Inning,Outs,Balls,Strikes,OutsOnPlay,...,x0,y0,z0,vx0,vy0,vz0,ax0,ay0,az0,PlayResult
0,31,4,4,8886490.0,8889935.0,1,1,2,1,0,...,-0.910257,50.0,5.132413,1.918590,-124.614626,-0.649094,4.383706,22.608287,-29.020022,1
1,53,3,1,8889942.0,8886477.0,2,1,0,0,0,...,-0.813253,50.0,5.902546,4.365727,-126.052743,-4.747421,-11.628193,27.363407,-25.421615,1
2,63,1,1,8886490.0,8889937.0,2,1,0,0,1,...,-0.441719,50.0,5.333961,4.862950,-131.897976,-4.129748,-8.552503,31.937280,-18.947060,0
3,93,7,2,8889947.0,8886477.0,3,2,1,0,0,...,-2.193309,50.0,5.480263,5.652254,-130.319387,-3.460916,-6.483089,31.294218,-12.580120,1
4,128,4,3,8889947.0,8881734.0,4,2,1,1,1,...,-2.142848,50.0,5.527071,4.224837,-115.353692,-2.275181,3.299176,25.060342,-31.168783,0

In [15]:
data = data[data['Angle']<=5]

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 58 to 3802
Data columns (total 51 columns):
PitchNo                35 non-null int64
PAofInning             35 non-null int64
PitchofPA              35 non-null int64
PitcherId              35 non-null float64
BatterId               35 non-null float64
Inning                 35 non-null int64
Outs                   35 non-null int64
Balls                  35 non-null int64
Strikes                35 non-null int64
OutsOnPlay             35 non-null int64
RunsScored             35 non-null int64
RelSpeed               35 non-null float64
VertRelAngle           35 non-null float64
HorzRelAngle           35 non-null float64
SpinRate               35 non-null float64
SpinAxis               35 non-null float64
RelHeight              35 non-null float64
RelSide                35 non-null float64
Extension              35 non-null float64
VertBreak              35 non-null float64
InducedVertBreak       35 non-null float64
HorzBreak              35 non-null float64
PlateLocHeight         35 non-null float64
PlateLocSide           35 non-null float64
ZoneSpeed              35 non-null float64
VertApprAngle          35 non-null float64
HorzApprAngle          35 non-null float64
ZoneTime               35 non-null float64
ExitSpeed              35 non-null float64
Angle                  35 non-null float64
Direction              35 non-null float64
HitSpinRate            35 non-null float64
PositionAt110X         35 non-null float64
PositionAt110Y         35 non-null float64
PositionAt110Z         35 non-null float64
Distance               35 non-null float64
LastTrackedDistance    35 non-null float64
Bearing                35 non-null float64
HangTime               35 non-null float64
pfxx                   35 non-null float64
pfxz                   35 non-null float64
x0                     35 non-null float64
y0                     35 non-null float64
z0                     35 non-null float64
vx0                    35 non-null float64
vy0                    35 non-null float64
vz0                    35 non-null float64
ax0                    35 non-null float64
ay0                    35 non-null float64
az0                    35 non-null float64
PlayResult             35 non-null int64
dtypes: float64(41), int64(10)
memory usage: 14.2 KB